body{
    background-color: rgb(210, 228, 184);
    height: 950px;
}
header{
    background-color: rgb(247, 234, 201);
    height: 90px;
    background-image: url('https://payload.cargocollective.com/1/0/808/7372593/BlackYellow_detail.jpg');
    background-attachment: fixed;
    padding-top: 20px;
}

h1{
    text-align: center;
    font-size: 50px;
    color: rgb(95, 165, 168);
    margin-top: 0px;
    font-family: 'Righteous', cursive;
}

h2{
    background-color: rgba(205, 238, 88, 0.699);
    text-align: center;
    height: 40px;
    color: rgb(74, 114, 146);
    font-family: 'Barlow Semi Condensed', sans-serif;

}

footer{
    height: 30px;
    background-color: rgba(112, 128, 144, 0.747);
    text-align: center;
    font-family: 'News Cycle', sans-serif;
    font-size: 15px;
    color: whitesmoke;
}

nav{
    margin-top: 50px;
    background-color: rgba(70, 131, 180, 0.308);
    height: 35px;
    
}

nav a {
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Quantico', sans-serif;
    color: whitesmoke;
    text-decoration: none;
} 

main {
   
    margin-top: 15px;
    margin-bottom: 15px;
    width: 1330px;
    height: 700px;
    background-color: rgba(253, 205, 117, 0.774);
}

.arte h1{
   position: absolute;
   padding-left: 60px;
   padding-right: 15px;
   padding-top: 70px;
   color: rgb(231, 231, 73);
}

.arte p {
    position: absolute;
    padding-left: 60px;
    padding-right: 15px;
    padding-top: 130px;
    font-size: 16px;
    text-align: center;
    color: rgb(234, 255, 227);
    font-family: 'Quantico', sans-serif;

}
.arte img {
    width: 618px;
    height: 386px;
    position: absolute;
    padding-left: 25px;
    padding-top: 15px;

    
}

.muzak h1{
    padding-top: 70px;
    padding-left: 760px;
    position: absolute;
    float: left;
    color:rgb(231, 231, 73);
}

.muzak p {
    position: absolute;
    padding-top: 130px;
    font-size: 16px;
    float: left;
    color:#ffffff;
    text-align: center;
    padding-left: 760px;
    font-family: 'Quantico', sans-serif;
    font-weight: 200;


}
.muzak img{
    padding-top: 15px;
    width: 618px;
    height: 386px;
    float: right;
    padding-right: 25px;
}

.more h1{
    padding-left: 450px;
    padding-top: 500px;
    position: absolute;
}